[Desktop Entry]
Name=Markdown Reader
Comment=Open and read .md files in Firefox
Exec=bash -c 'exec "$HOME/mdreader-launcher.sh" "$@"' _ %f
Icon=text-x-generic
Terminal=false
Type=Application
MimeType=text/markdown;text/x-markdown;application/x-md;inode/directory;
Categories=Utility;TextEditor;
